<launch>
  <!-- set Canny parameters -->
  <param name="canny_tresh_1" value="100" />
  <param name="canny_tresh_2" value="200" />
  <!-- a group of parameters that we will fetch together -->
  <group ns="roi_points">
   <param name="x1" value="0" />
   <param name="y1" value="600" />
   <param name="x2" value="0" />
   <param name="y2" value="520" />
   <param name="x3" value="325" />
   <param name="y3" value="325" />
   <param name="x4" value="500" />
   <param name="y4" value="325" />
   <param name="x5" value="700" />
   <param name="y5" value="520" />
   <param name="x6" value="700" />
   <param name="y6" value="600" />
  </group>
  <node pkg="Boskovic_LD" name="lanedetect" type="listener.py" output="screen"/>
</launch>

